name: WishBoard PR Builder

on:
  pull_request:
    branches: [ dev, main ]

defaults:
  run:
    shell: bash
    working-directory: .

jobs:
  build:
    name: PR Checker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Change gradlew permissions
        run: chmod +x ./gradlew

      - name: Decode google-services.json
        env:
          FIREBASE_SECRET: ${{ secrets.FIREBASE_SECRET }}
        run: echo $FIREBASE_SECRET > app/google-services.json
      
      - name: Touch local properties
        run: touch local.properties

      - name: Access DEV_BASE_URL
        run: echo "DEV_BASE_URL=\"\"" >> local.properties

      - name: Access PROD_BASE_URL
        run: echo "PROD_BASE_URL=\"\"" >> local.properties

      - name: Build with Gradle
        run: ./gradlew build

      - name: On Success!! Congratulations
        if: ${{ success() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#95FB9D'
          SLACK_ICON: https://play-lh.googleusercontent.com/5Ckp1AdoWkbHceiG3JUhmxIzmqK3gCe6pDOQM9gklKInmJnGSJgAOBjq39FAuPKSttw=w480-h960-rw
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'π‰ wishboard-android-compose PR Check S.U.C.C.E.S.S π‰'
          MSG_MINIMAL: true
          SLACK_USERNAME: Wishboard-Android-Compose
          SLACK_MESSAGE: 'PRμ΄ μ™„λ£λμ—μµλ‹λ‹¤! π¥³ π¥³ π¥³'

      - name: On Failed, Notify in Slack
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: '#FA5DBB'
          SLACK_ICON: https://play-lh.googleusercontent.com/5Ckp1AdoWkbHceiG3JUhmxIzmqK3gCe6pDOQM9gklKInmJnGSJgAOBjq39FAuPKSttw=w480-h960-rw
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_TITLE: 'wishboard-android-compose Debug build Fail β'
          MSG_MINIMAL: true
          SLACK_USERNAME: Wishboard-Android-Compose
          SLACK_MESSAGE: 'μ—λ¬λ¥Ό ν™•μΈν•΄μ£Όμ„Έμ” π‘»'